@charset "utf-8";

body { 
    font-size: 24px;
}

button{
    width: 20em;
    height: 6em;
    margin: 10px 0; /* ボタンの上下に10pxのマージンを追加 */
}

h1{
    width: 200px;
    height: 50px;
}

li{
    list-style: none;
}

ul{
    text-align: center;
}

.header {
    width: 70%;
    height: 20%;
    background-color: #00d5ff;
    color: white;
    padding: 20px;
    /* text-align: center; */
}

.container {
    /* display: flex; */
    height: 1000;
}

.button-container button:nth-child(1), /* マップ投稿 */
.button-container button:nth-child(3) { /* 魚カード */
    margin-bottom: 20px; /* これで「マップ投稿」と「魚カード」の縦のスペースを広げる */
    margin-right: 20px; /* 「マップ投稿」と「お知らせ投稿」の横のスペースを広げる */
}


.button-container button:nth-child(2), /* お知らせ投稿 */
.button-container button:nth-child(4) { /* クーポン作成 */
    margin-top: 20px; /* これで「お知らせ投稿」と「クーポン作成」の縦のスペースを広げる */
}
