@charset "utf-8";

body { 
    font-size: 24px;
}

button{
    width: 10em;
    height: 3em;
}

h1{
    width: 200px;
    height: 50px;
}

li{
    list-style: none;
}

ul{
    text-align: center;
}


.header {
    width: 70%;
    height: 20%;
    background-color: #00d5ff;
    color: white;
    padding: 20px;
    /* text-align: center; */
}

.container {
    /* display: flex; */
    height: 1000;
}
